{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
        <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
        <link href="{% static 'css/mynx.css' %}" rel="stylesheet" type="text/css">
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <div class="container">
          <header class="mynx-header">
              <div class="row flex-nowrap justify-content-between align-items-center">
                  <div class="col-4 text-center">
                    <a class="mynx-header-logo text-dark" href="#"><img src="{% static 'img/logo-michelle-mynx-academy-pole-dance.jpg' %}" alt="Mynx Academy Logo" /></a>
                  </div>

                <div class="navbar navbar-nav " role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            {% show_menu 0 1 100 100 "menu.html" %}
                        </ul>
                    </div>
                </div><!-- end navbar -->
            </div><!-- end row -->
            </header>
              
              <main role="main" class="container">
                <div class="row">
                    <div class="col-md-8 mynx-main">
                                {% block content %}{% endblock content %}
                    </div>
                </div>
            </main>
        
            
        <footer class="mynx-footer">
          &copy; 2018 all rights reserved Michelle Mynx Academy of Pole Dance. 3190 Grand Blvd, St. Louis, MO 63116.  
          <p>
            <a href="#">Back to top</a>
          </p>
        </footer>
            </div> <!-- end container -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
        {% render_block "js" %}
    </body>
</html>
